@use "/src/common/styles/index.scss" as *;

.cardWrapper {
  @include flexColumnConstructor(start, start, 1.125rem);
  width: 100%;
  cursor: pointer;

  &:hover {
    .infoWrapper .titleInfo .link {
      opacity: 1;
    }
  }

  .photoWrapper {
    width: 100%;
    aspect-ratio: 1/0.8;

    padding: 0.7rem 1rem;

    .available {
      @include text_s($gray_0);

      @include xs {
        @include text_xs_mobile($gray_0);
      }
    }

    .unavailable {
      @include text_s($gray_200);

      @include xs {
        @include text_xs_mobile($gray_200);
      }
    }
  }

  .infoWrapper {
    width: 100%;
    @include flexColumnConstructor(start, start);

    .titleInfo {
      @include flexColumnConstructor(start, start);
      position: relative;
      border-bottom: 1px solid $gray_100;
      width: 100%;
      padding-bottom: 0.75rem;

      & :nth-child(1) {
        @include h4($gray_450);

        @include md {
          @include h5_meduim($gray_450);
        }
        @include xs {
          @include h7($gray_450);
        }
      }
      & :nth-child(2) {
        @include h6($gray_450);

        @include md {
          @include h8_regular($gray_450);
        }
        @include xs {
          @include text_l($gray_450);
        }
      }

      .link {
        opacity: 0;
        transition-duration: 300ms;
        @include flexColumnConstructor(center, center);
        position: absolute;
        top: 0;
        right: 0;

        border-radius: 100%;
        min-width: 46px;
        width: 46px;
        min-height: 46px;
        height: 46px;
        background: $gray_450;
      }
    }

    .descriptionWrapper {
      @include flexRowConstructor(start, start);
      width: 100%;

      & > div :nth-child(1) {
        @include text_m_regular($gray_300);
        text-wrap: nowrap;

        @include md {
          @include text_s($gray_300);
        }
        @include xs {
          @include text_xs_mobile($gray_300);
        }
      }
      & > div :nth-child(2) {
        @include h7($gray_450);

        @include md {
          @include h8_regular($gray_450);
        }
      }

      .leftInfo {
        @include flexColumnConstructor(start, start, 0.25rem);
        width: 180px;
        border-right: 1px solid $gray_100;
        padding: 0.75rem 1.5rem 0rem 0rem;
      }

      .rightInfo {
        @include flexColumnConstructor(start, start, 0.25rem);
        width: 100%;
        padding: 0.75rem 0rem 0rem 1.5rem;
      }
    }
  }
}
