@use "/src/common/styles/index.scss" as *;

.cardWrapper {
  @include flexColumnConstructor(start, space-between);
  @include backgroundSlate;
  width: 100%;
  max-width: 375px;
  max-height: 590px;
  height: 590px;

  border: 1px solid $gray_350;
  border-radius: 4px;
  padding: 32px;

  @include md {
    padding: 24px;

    max-height: 520px;
    height: 520px;
  }

  @include xmd {
    gap: 30px;
    height: auto;
  }

  .cardImage {
    width: 100%;
    aspect-ratio: 1/0.6591;
  }

  .infoWrapper {
    @include flexColumnConstructor(start, start, 1.125rem);

    .infoDescription {
      @include flexColumnConstructor(start, start, 1rem);

      .title {
        & :nth-child(1) {
          @include h6($gray_0);
          white-space: pre-wrap;

          @include md {
            @include h7($gray_0);
          }
          @include xs {
            @include h8_regular($gray_0);
          }
        }
      }
      .altTitle {
        position: relative;
        cursor: pointer;
        @include flexRowConstructor(start, start, 0.5rem);

        color: $goldich;
        background: linear-gradient(
          180deg,
          #fdcf6a 0%,
          #fdd67c 50%,
          #ffe5af 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        & :nth-child(1):after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;

          background: linear-gradient(
            180deg,
            #fdcf6a 0%,
            #fdd67c 50%,
            #ffe5af 100%
          );
          height: 1px;
          width: 100%;
        }
      }

      .comment {
        @include text_l($gray_150);

        @include md {
          @include text_m_regular($gray_150);
        }
        @include xs {
          @include text_s_mobile_regular($gray_0);
        }
      }

      .flame1,
      .flame2,
      .flame3 {
        position: absolute;
      }
      .flame1 {
        top: -12px;
        right: 3px;
      }
      .flame2 {
        top: -2px;
        right: 26px;
      }
      .flame3 {
        top: -7px;
        right: 187px;

        @include md {
          top: -7px;
          right: 182px;
        }
      }
    }

    .user {
      @include text_l($gray_150);

      @include md {
        @include text_m_regular($gray_150);
      }
      @include xs {
        @include text_s_mobile_regular($gray_0);
      }
    }
  }
}
