$gray_0: #ffffff;
$gray_50: #f5f5f5;
$gray_100: #e0e0e0;
$gray_150: #c3c3c3;
$gray_200: #9c9c9c;
$gray_250: #878787;
$gray_300: #686868;
$gray_350: #2b2b2c;
$gray_400: #0e0e0f;
$gray_450: #000000;

$gold: #fbedc8;
$gold_2: #ffcd4d;
$goldich: #fff8e0;

$solor_red: #ff1640;
