@use "flex.scss" as flex;
@use "media.scss" as media;

@mixin sectionStyles {
  @include flex.flexRowConstructor(start, center);
  width: 100%;
  padding-inline: 210px;

  @include media.lg {
    padding-inline: 50px;
  }

  @include media.md {
    padding-inline: 32px;
  }

  @include media.xs {
    padding-inline: 20px;
  }

  .sectionContainer {
    width: 100%;
    max-width: 1500px;

    @include media.lg {
      max-width: 1340px;
    }

    @include media.md {
      max-width: 960px;
    }

    @include media.xs {
      max-width: 335px;
    }
  }
}
