@use "/src/common/styles/index.scss" as *;

.reviews {
  @include backgroundBlack;
  @include flexColumnConstructor(center, start);
  @include sectionStyles;

  .sectionContainer {
    @include flexColumnConstructor(start, start, 1rem);
    padding-block: 120px;

    @include lg {
      padding-block: 80px;
    }
    @include md {
      padding-block: 60px;
    }
    @include xs {
      padding-block: 24px;
    }

    .title {
      @include text_m_regular($goldich);
      background: linear-gradient(
        180deg,
        #fdcf6a 0%,
        #fdd67c 50%,
        #ffe5af 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include md {
        @include text_s_mobile_regular($goldich);
      }
      @include xs {
        @include text_s($goldich);
      }
    }

    .cardContainer {
      @include flexRowConstructor(start, start);
      position: relative;
      flex-wrap: wrap;

      @include md {
        justify-content: center;
      }

      // .flame1,
      // .flame2,
      // .flame3,
      // .flame4,
      // .flame5 {
      //   z-index: 20;
      //   position: absolute;
      // }
      // .flame1 {
      //   top: -6px;
      //   right: -8px;
      // }
      // .flame2 {
      //   top: 2px;
      //   right: 26px;
      // }
      // .flame3 {
      //   top: -4px;
      //   right: 64px;
      // }
      // .flame4 {
      //   top: -5px;
      //   right: 123px;
      // }
      // .flame4 {
      //   top: -5px;
      //   right: 123px;
      // }
    }
  }
}
